node_modules/
/test-results/

# Ignorar todo el contenido dentro de POSBMR
Reportes/POSBMR/**

# No ignorar las carpetas de reportes, posbmr y el archivo identificador para que este presentes en git
!Reportes/
!Reportes/POSBMR/
!Reportes/POSBMR/.gitkeep
/playwright-report/
/blob-report/
/playwright/.cache/
